<!-- <link href='https://fonts.googleapis.com/css?family=Exo+2:900' rel='stylesheet' type='text/css'> -->

<div id="wrapper">

        <div id="wheel">
            <div id="inner-wheel">
                <div class="sec"><span class="fa text">Candy</span></div>
                <div class="sec"><span class="fa text">Chocolate</span></div>
                <div class="sec"><span class="fa text">GummyBear</span></div>
                <div class="sec"><span class="fa text">Apple</span></div>
                <div class="sec"><span class="fa text">BubbleGum</span></div>
                <div class="sec"><span class="fa fa-gift"></span></div>
            </div>

            <div id="spin">
                <div id="inner-spin"></div>
            </div>

            <div id="shine"></div>
        </div>


        <div id="txt"></div>
  </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

        <script src="js/index.js"></script>




  </body>
</html>
