<div class="container">
  <div class="form-pink-bg form-reservations-new">
    <% if current_user.kids.exists? %>
     <p>Select one of your kid this area will be applied to.</p>
      <%= simple_form_for([@game, @reservation]) do |f| %>
      <%= f.association :kid, collection: current_user.kids, label_method: :first_name %>
      <%= f.button :submit, value:"Let's fix this!", class:"btn btn-white w-100" %>
      <% end %>
    <% end %>
    <hr>
   <%= link_to "Home Page", root_path, class:"btn btn-white w-100" %>
  </div>
</div>
